aws_region   = "eu-central-1"
project_name = "home-assessment"
environment  = "staging"

cdn_bucket_name = "CHANGE_ME_UNIQUE_STAGING_BUCKET"

github_org  = "Giou3"
github_repo = "home-assessment"

# See prod example: replace with your ECR image when deploying for real.
container_image = "gcr.io/google-samples/hello-app:1.0"
